{% trans_default_domain 'case' %}

<main role="main" class="col-12">
    {# TODO: Persist tab navigation in url #}
    <ul class="nav nav-tabs mt-3" id="casestatusTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="overview-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">{% trans %}Overview{% endtrans %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="claim-tab" data-toggle="tab" href="#claim" role="tab" aria-controls="claim" aria-selected="true">{% trans %}Condition{% endtrans %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="tenant-tab" data-toggle="tab" href="#tenant" role="tab" aria-controls="tenant" aria-selected="true">{% trans %}Complainant{% endtrans %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="landlord-tab" data-toggle="tab" href="#landlord" role="tab" aria-controls="landlord" aria-selected="true">{% trans %}Counterpart{% endtrans %}</a>
        </li>
    </ul>
    <div class="tab-content" id="casestatusTabContent">
        <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
            <div class="row mt-3">
                <div class="col">
                    <form>
                        {# TODO: Form validation: https://getbootstrap.com/docs/4.0/components/forms/#validation #}
                        <fieldset>
                            <legend>{% trans %}Complainant{% endtrans %}</legend>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputBasicInformation1">{% trans %}Complainant name{% endtrans %}</label>
                                    <input type="text" class="form-control" id="inputBasicInformation1" value="{{ case.complainant }}" readonly>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputBasicInformation2">{% trans %}CPR number{% endtrans %}</label>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" id="inputBasicInformation2" value="{{ case.complainantCPR }}" readonly>
                                        {# TODO: Show status depending on validation result #}
                                        {# Not yet validated #} <button class="btn btn-secondary" type="button" data-toggle="tooltip" data-placement="auto" title="{{ 'Validate CPR number'|trans([], 'case', 'da') }}"><i class="fas fa-check-circle"></i></button>
                                        {# Success <button class="btn btn-success" type="button" data-toggle="tooltip" data-placement="auto" title="CPR number is validated"><i class="fas fa-check-circle"></i></button>#}
                                        {# Warning <button class="btn btn-warning" type="button" data-toggle="tooltip" data-placement="auto" title="Warning could not validate"><i class="fas fa-exclamation-circle"></i></button>#}
                                        {# Failed <button class="btn btn-danger" type="button" data-toggle="tooltip" data-placement="auto" title="Error validating"><i class="fas fa-times-circle"></i></button>#}
                                        {#</div>   #}
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-5">
                                    <label for="inputBasicInformation3">{% trans %}Road{% endtrans %}</label>
                                    <input type="text" class="form-control" id="inputBasicInformation3" value="{{ case.complainantAddress.street }}" readonly>
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="inputBasicInformation4">{% trans %}Postal code{% endtrans %}</label>
                                    <input type="text" class="form-control" id="inputBasicInformation4" value="{{ case.complainantAddress.postalCode }}" readonly>
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="inputBasicInformation5">{% trans %}City{% endtrans %}</label>
                                    <input type="text" class="form-control" id="inputBasicInformation5" value="{{ case.complainantAddress.city }}" readonly>
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="inputBasicInformation6">{% trans %}Cadastral number{% endtrans %}</label>
                                    <input type="text" class="form-control" id="inputBasicInformation6" value="{{ case.complainantCadastralNumber }}" readonly>
                                </div>
                                <div class="form-group col-md-1">
                                    <label for="inputBasicInformation7">{% trans %}Validate{% endtrans %}</label>
                                    {# TODO: Show status depending on validation result #}
                                    {# Not yet validated #} <button class="btn btn-block btn-secondary" type="button" data-toggle="tooltip" data-placement="auto" title="{{ 'Validate address'|trans([], 'case', 'da') }}"><i class="fas fa-check-circle"></i></button>
                                    {# Success <button class="btn btn-block btn-success" type="button" data-toggle="tooltip" data-placement="auto" title="Address is validated"><i class="fas fa-check-circle"></i></button>#}
                                    {# Warning <button class="btn btn-block btn-warning" type="button" data-toggle="tooltip" data-placement="auto" title="Warning could not validate"><i class="fas fa-exclamation-circle"></i></button>#}
                                    {# Failed <button class="btn btn-block btn-danger" type="button" data-toggle="tooltip" data-placement="auto" title="Error validating"><i class="fas fa-times-circle"></i></button>#}
                                </div>
                            </div>
                            <p class="text-muted">{% trans %}Validate the legitimacy of the address by pressing the validate button{% endtrans %}</p>
                        </fieldset>
                        <fieldset>
                            <legend>{% trans %}Counterpart{% endtrans %}</legend>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputBasicInformation8">{% trans %}Counterpart name{% endtrans %}</label>
                                    <input type="text" class="form-control" id="inputBasicInformation8" value="{{ case.accused }}" readonly>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputBasicInformation9">{% trans %}Counterpart CPR{% endtrans %}</label>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" id="inputBasicInformation9" value="{{ case.accusedCPR }}" readonly>
                                        {# TODO: Show status depending on validation result #}
                                        {# Not yet validated #} <button class="btn btn-secondary" type="button" data-toggle="tooltip" data-placement="auto" title="{{ 'Validate CPR number'|trans([], 'case', 'da') }}"><i class="fas fa-check-circle"></i></button>
                                        {# Success <button class="btn btn-success" type="button" data-toggle="tooltip" data-placement="auto" title="CPR number is validated"><i class="fas fa-check-circle"></i></button>#}
                                        {# Warning <button class="btn btn-warning" type="button" data-toggle="tooltip" data-placement="auto" title="Warning could not validate"><i class="fas fa-exclamation-circle"></i></button>#}
                                        {# Failed <button class="btn btn-danger" type="button" data-toggle="tooltip" data-placement="auto" title="Error validating"><i class="fas fa-times-circle"></i></button>#}
                                        {#</div>   #}
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-5">
                                    <label for="inputBasicInformation10">{% trans %}Road{% endtrans %}</label>
                                    <input type="text" class="form-control" id="inputBasicInformation10" value="{{ case.accusedAddress.street }}" readonly>
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="inputBasicInformation11">{% trans %}Postal code{% endtrans %}</label>
                                    <input type="text" class="form-control" id="inputBasicInformation11" value="{{ case.accusedAddress.postalCode }}" readonly>
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="inputBasicInformation12">{% trans %}City{% endtrans %}</label>
                                    {# TODO: Update city value when such property exists #}
                                    <input type="text" class="form-control" id="inputBasicInformation12" value="{{ case.accusedAddress.city }}" readonly>
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="inputBasicInformation13">{% trans %}Cadastral number{% endtrans %}</label>
                                    {# TODO: Update city value when such property exists #}
                                    <input type="text" class="form-control" id="inputBasicInformation13" value="{{ case.accusedCadastralNumber }}" readonly>
                                </div>
                                <div class="form-group col-md-1">
                                    <label for="inputBasicInformation14">{% trans %}Validate{% endtrans %}</label>
                                    {# TODO: Show status depending on validation result #}
                                    {# Not yet validated #} <button class="btn btn-block btn-secondary" type="button" data-toggle="tooltip" data-placement="auto" title="{{ 'Validate address'|trans([], 'case', 'da') }}"><i class="fas fa-check-circle"></i></button>
                                    {# Success <button class="btn btn-block btn-success" type="button" data-toggle="tooltip" data-placement="auto" title="Address is validated"><i class="fas fa-check-circle"></i></button>#}
                                    {# Warning <button class="btn btn-block btn-warning" type="button" data-toggle="tooltip" data-placement="auto" title="Warning could not validate"><i class="fas fa-exclamation-circle"></i></button>#}
                                    {# Failed <button class="btn btn-block btn-danger" type="button" data-toggle="tooltip" data-placement="auto" title="Error validating"><i class="fas fa-times-circle"></i></button>#}
                                </div>
                            </div>
                            <p class="text-muted">{% trans %}Validate the legitimacy of the address by pressing the validate button{% endtrans %}</p>
                        </fieldset>
                        <fieldset>
                            <legend>{% trans %}Case specifics{% endtrans %}</legend>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputBasicInformation15">{% trans %}Complaint fee in DKK{% endtrans %}</label>
                                    <input type="text" class="form-control" id="inputBasicInformation15" value="{{ case.complaintCategory.fee }}" readonly>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputBasicInformation16">{% trans %}Complaint category{% endtrans %}</label>
                                    <input type="text" class="form-control" id="inputBasicInformation16" value="{{ case.complaintCategory.name }}" readonly>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="claim" role="tabpanel" aria-labelledby="claim-tab">
            <div class="row mt-3">
                <div class="col">
                    <form>
                        {# TODO: Form validation: https://getbootstrap.com/docs/4.0/components/forms/#validation #}
                        <fieldset>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label for="inputBasicInformation17">{% trans %}Conditions{% endtrans %}</label>
                                    <textarea readonly class="form-control" id="inputBasicInformation17" rows="8">{{ case.conditions }}</textarea>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label for="inputBasicInformation18">{% trans %}Claim{% endtrans %}</label>
                                    <textarea readonly class="form-control" id="inputBasicInformation18" rows="8">{{ case.complainantClaim }}</textarea>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="tenant" role="tabpanel" aria-labelledby="tenant-tab">
            <div class="row mt-3">
                <div class="col">
                    <div class="table-responsive-sm">
                        <table id="basicInformationTenant" class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th scope="col">{% trans %}Name{% endtrans %}</th>
                                <th scope="col">{% trans %}Address{% endtrans %}</th>
                                <th scope="col">{% trans %}CPR number{% endtrans %}</th>
                                <th scope="col">{% trans %}Telephone number{% endtrans %}</th>
                                <th scope="col">{% trans %}Journal number{% endtrans %}</th>
                                <th scope="col" data-orderable="false">{% trans %}Function{% endtrans %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for party in complainants %}
                                <tr>
                                    <td>{{ party.name|e }}</td>
                                    <td>{{ party.address|e }}</td>
                                    <td>{{ party.cpr|e }}</td>
                                    <td>{{ party.phoneNumber|e }}</td>
                                    <td>{{ party.journalNumber|e }}</td>
                                    <td class="text-right">
                                        <div class="btn-group" role="group" aria-label="{% trans %}List functions{% endtrans %}">

                                            <!-- Edit button -->
                                            <a href="{{ url("party_edit", {id: case.id, party_id: party.id}) }}" role="button" class="btn btn-primary" data-toggle="tooltip" data-placement="auto" title="{% trans %}Edit party{% endtrans %}"><i class="fas fa-file-alt"></i><span class="sr-only">{% trans %}Edit party{% endtrans %} </span></a>

                                            <!-- Delete button -->

                                            <form id="myform" class="btn-group" method="post" action="{{ path('party_delete', {'id': case.id, 'party_id': party.id}) }}" onsubmit="return confirm('{% trans %}Are you sure you want to delete this item?{% endtrans %}');">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ party.id) }}">
                                                <button class="btn btn-danger" data-toggle="tooltip" data-placement="auto" title="{% trans %}Delete party{% endtrans %}"><i class="fas fa-trash-alt"></i></button>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="landlord" role="tabpanel" aria-labelledby="landlord-tab">
            <div class="row mt-3">
                <div class="col">
                    <div class="table-responsive-sm">
                        <table id="basicInformationLandlord" class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th scope="col">{% trans %}Name{% endtrans %}</th>
                                <th scope="col">{% trans %}Address{% endtrans %}</th>
                                <th scope="col">{% trans %}CPR number{% endtrans %}</th>
                                <th scope="col">{% trans %}Telephone number{% endtrans %}</th>
                                <th scope="col">{% trans %}Journal number{% endtrans %}</th>
                                <th scope="col" data-orderable="false">{% trans %}Function{% endtrans %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for party in counterparties %}
                                <tr>
                                    <td>{{ party.name|e }}</td>
                                    <td>{{ party.address|e }}</td>
                                    <td>{{ party.cpr|e }}</td>
                                    <td>{{ party.phoneNumber|e }}</td>
                                    <td>{{ party.journalNumber|e }}</td>
                                    <td class="text-right">
                                        <div class="btn-group" role="group" aria-label="{% trans %}List functions{% endtrans %}">

                                            <!-- Edit button -->
                                            <a href="{{ url("party_edit", {id: case.id, party_id: party.id}) }}" role="button" class="btn btn-primary" data-toggle="tooltip" data-placement="auto" title="{% trans %}Edit party{% endtrans %}"><i class="fas fa-file-alt"></i><span class="sr-only">{% trans %}Edit party{% endtrans %} </span></a>

                                            <!-- Delete button -->

                                            <form id="myform" class="btn-group" method="post" action="{{ path('party_delete', {'id': case.id, 'party_id': party.id}) }}" onsubmit="return confirm('{% trans %}Are you sure you want to delete this item?{% endtrans %}');">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ party.id) }}">
                                                <button class="btn btn-danger" data-toggle="tooltip" data-placement="auto" title="{% trans %}Delete party{% endtrans %}"><i class="fas fa-trash-alt"></i></button>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>