{# @see https://symfony.com/doc/current/form/form_themes.html#reusing-parts-of-a-built-in-form-theme #}
{% use 'bootstrap_5_layout.html.twig' %}

{% block identification_widget %}
    <div {{ block('widget_container_attributes') }}>
        <div class="input-group">
            <div class="input-group-prepend">
                {{ form_widget(form.type) }}
            </div>
            {{ form_widget(form.identifier) }}
            {{ form_widget(form.pNumber) }}
        </div>
        <div>
            {{ form_errors(form.identifier) }}
        </div>
        {{ form_rest(form) }}
    </div>
{% endblock %}

{% block address_widget %}
    <div {{ block('widget_container_attributes') }}>
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.street) }}
            </div>
            <div class="col-md-2">
                {{ form_row(form.number) }}
            </div>
            <div class="col-md-2">
                {{ form_row(form.floor) }}
            </div>
            <div class="col-md-2">
                {{ form_row(form.side) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                {{ form_row(form.postalCode) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.city) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.extraInformation) }}
            </div>
        </div>
        {{ form_rest(form) }}
    </div>
{% endblock %}

{% block choice_widget_expanded -%}
    {# Allow grouping of expanded choice fields #}
    {# See https://github.com/symfony/symfony/issues/19514 #}
    <div {{ block('widget_container_attributes') }}>
        {# Slight modificaton compated to https://github.com/symfony/symfony/issues/19514#issuecomment-1013738644 #}
        {#  to avoid messing up other expanded choice fields with exactly two choices (that are indexed by integers) #}
        {% if not (form.vars.choices|keys|first matches '/^\\d+$/') %}
            {% if form.children['placeholder'] is defined %}
                {{- form_widget(form.children['placeholder'], {
                    parent_label_class: label_attr.class|default(''),
                    translation_domain: choice_translation_domain,
                    valid: valid,
                }) -}}
            {% endif %}
            {% for name, choices in form.vars.choices %}
                <div class='choice_category'>
                    <strong>{{ name }}</strong>
                </div>
                <div class="my-radio-group">
                    {% for key, choice in choices %}
                        {{- form_widget(form[key]) -}}
                        {{- form_label(form[key]) -}}
                    {% endfor %}
                </div>
            {% endfor %}
        {% else %}
            {%- for child in form %}
                {{- form_widget(child, {
                    parent_label_class: label_attr.class|default(''),
                    translation_domain: choice_translation_domain,
                    valid: valid,
                }) -}}
            {% endfor -%}
        {% endif %}
    </div>
{%- endblock choice_widget_expanded %}

{% block address_lookup_widget %}
    {{ block('address_widget') }}
{% endblock %}

{% macro digital_post_recipient_widget(form, value, content) %}
    {% set choice = get_choice(form.parent.vars.choices, value) %}

    <div class="digital-post-recipient" data-digital-post-allowed="{{ choice.data.canReceiveDigitalPost|default(false) }}">
        {{ content|raw }}
    </div>
{% endmacro %}

{% macro digital_post_recipient_label(form, value, content) %}
    {% if content %}
        {{ content|raw }}

        {% set choice = get_choice(form.parent.vars.choices, value) %}
        <span class="digital-post-message">
            ({{ choice.data.canReceiveDigitalPost|default(false) ? 'can receive digital post'|trans([], 'case') : 'cannot receive digital post'|trans([], 'case') }})
        </span>
    {% endif %}
{% endmacro %}

{% block _hearing_post_request_recipients_entry_widget %}
    {{ _self.digital_post_recipient_widget(form, value, block('checkbox_widget')) }}
{% endblock %}

{% block _hearing_post_request_recipients_entry_label %}
    {{ _self.digital_post_recipient_label(form, value, block('checkbox_label')) }}
{% endblock %}

{% block _briefing_recipients_entry_widget %}
    {{ _self.digital_post_recipient_widget(form, value, block('checkbox_widget')) }}
{% endblock %}

{% block _briefing_recipients_entry_label %}
    {{ _self.digital_post_recipient_label(form, value, block('checkbox_label')) }}
{% endblock %}

{% block _decision_recipients_entry_widget %}
    {{ _self.digital_post_recipient_widget(form, value, block('checkbox_widget')) }}
{% endblock %}

{% block _decision_recipients_entry_label %}
    {{ _self.digital_post_recipient_label(form, value, block('checkbox_label')) }}
{% endblock %}
