{# @see https://symfony.com/doc/current/form/form_themes.html#reusing-parts-of-a-built-in-form-theme #}
{% use 'bootstrap_5_layout.html.twig' %}

{% block identification_widget %}
    <div {{ block('widget_container_attributes') }}>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                {{ form_widget(form.type) }}
            </div>
            {{ form_widget(form.identifier) }}
            {{ form_widget(form.pNumber) }}
        </div>
        {{ form_rest(form) }}
    </div>
{% endblock %}

{% block address_widget %}
    <div {{ block('widget_container_attributes') }}>
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.street) }}
            </div>
            <div class="col-md-2">
                {{ form_row(form.number) }}
            </div>
            <div class="col-md-2">
                {{ form_row(form.floor) }}
            </div>
            <div class="col-md-2">
                {{ form_row(form.side) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                {{ form_row(form.postalCode) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.city) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.extraInformation) }}
            </div>
        </div>
        {{ form_rest(form) }}
    </div>
{% endblock %}

{% block address_lookup_widget %}
    {{ block('address_widget') }}
{% endblock %}
