{% extends 'layout-with-case-submenu.html.twig' %}

{% trans_default_domain 'documents' %}

{% block title %}{% trans %}Copy document to other cases{% endtrans %}{% endblock %}

{% block header %}
    <div class="row">
        <div class="col">
            <h1>{% trans %}Basic information{% endtrans %}</h1>
        </div>
        <div class="col-auto">
            <a name="" id="" class="btn btn-secondary" href="{{ url('document_index', {id: case.id}) }}" role="button">{% trans %}Cancel{% endtrans %}</a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <main role="main" class="col-12 mt-3">
        {{ form_start(copy_document_form) }}
        <div>
            <label >{% trans %}Cases{% endtrans %}</label>
            {{ form_widget(copy_document_form.cases, {'attr': {'class': 'form-control', 'required': true}}) }}
        </div>
        <button class="btn btn-success float-right mt-3">{{ button_label|default('Copy'|trans([], 'documents', 'da')) }}</button>
        {{ form_end(copy_document_form) }}
    </main>
{% endblock %}
