{% extends 'layout-with-case-submenu.html.twig' %}

{% trans_default_domain 'documents' %}

{% block title %}{% trans %}Documents{% endtrans %}{% endblock %}

{% block header %}
    <div class="row">
        <div class="col">
            <h1>{% trans %}Upload document{% endtrans %}</h1>
        </div>
        <div class="col-auto">
            <a class="btn btn-secondary" href="{{ url('document_index', {id: case.id}) }}" role="button">{% trans %}Cancel{% endtrans %}</a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <main role="main" class="col-12 mt-3">
        {{ form_start(document_form) }}
            {{ form_row(document_form.documentName) }}
            {{ form_row(document_form.type) }}
            {{ form_row(document_form.files) }}
            {{ form_row(document_form.createCaseEvent) }}
            {{ form_row(document_form.caseEvent) }}

            <button class="btn btn-success float-right">{{ button_label|default('Upload'|trans([], 'documents')) }}</button>
            {{ form_rest(document_form) }}
        {{ form_end(document_form) }}
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('document_case_event') }}
{% endblock %}
