{% set btn_group = [
  {
    "name": "Edit reminder",
    "style": "warning",
    "icon": "pen",
    "link": "#",
    "tooltip": "Edit reminder",
  },
] %}

<div class="list-group mb-5">
  {% for item in reminders %}
    <a href="{{ item.link|e }}" class="list-group-item list-group-item-action flex-column align-items-start list-group-item-warning">
      <div class="row">
        <div class="col">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ item.caseid|e }}: {{ item.title|e }}</h5>
            <span>{{ item.date|e }}</span>
          </div>
          <div class="d-flex w-100 justify-content-between">
            <p class="mb-0">{{ item.description|e }}</p>
            <p class="mb-0">{{ item.status|e }}</p>
          </div>
        </div>
        <div class="col-auto">
          {% include "common/btn-group.html.twig" with btn_group %}
        </div>
      </div>
    </a>
  {% endfor %}
</div>