{% extends 'layout-with-agenda-submenu.html.twig' %}

{% trans_default_domain 'agenda' %}

{% block title %}{% trans %}Broadcast agenda{% endtrans %}{% endblock %}

{% block header %}
    <div class="row">
        <div class="col">
            <h1>{% trans %}Broadcast agenda{% endtrans %}</h1>
            <p class="text-muted"><small>{% trans %}Send notice to board members informing them that they now have access to the agenda.{% endtrans %}</small></p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <main role="main" class="col-12 mt-3">
        {{ form_start(broadcast_form) }}
        {{ form_rest(broadcast_form) }}
        <button class="btn btn-success float-end" type="submit" name="submit">{% trans %}Broadcast{% endtrans %}</button>
        {{ form_end(broadcast_form) }}
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('mail_templates_custom_data') }}
{% endblock %}
