{% extends 'layout-with-agenda-submenu.html.twig' %}

{% trans_default_domain 'agenda' %}

{% block title %}{% trans %}Agenda broadcasts{% endtrans %}{% endblock %}

{% block header %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <div class="row">
        <div class="col">
            <h1>{% trans %}Agenda broadcasts{% endtrans %}</h1>
        </div>
        <div class="col-auto">
            {% if not agenda.boardmembers|length > 0 %}
                {# No boardmembers are assigned to the agenda #}
                <button class="btn btn-success" disabled data-toggle="tooltip" data-placement="auto" title="{% trans %}Cannot broadcast agenda with no assigned board members{% endtrans %}">{% trans %}Broadcast agenda{% endtrans %}</button>
            {% elseif not agenda.isReady() %}
                {# The agenda does not have the ready status #}
                <button class="btn btn-success" disabled data-toggle="tooltip" data-placement="auto" title="{% trans %}Cannot broadcast agenda that does not have status ready{% endtrans %}">{% trans %}Broadcast agenda{% endtrans %}</button>
            {% else %}
                <a class="btn btn-success" href="{{ url('agenda_broadcast_create', {id: agenda.id}) }}" role="button">{% trans %}Broadcast agenda{% endtrans %}</a>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block content %}
    <main role="main" class="col-12 mt-3">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{% trans %}Created at{% endtrans %}</th>
                <th>{% trans %}Subject{% endtrans %}</th>
                <th>{% trans %}Status{% endtrans %}</th>
                <th>{% trans %}Sent at{% endtrans %}</th>
                <th>{% trans %}Document{% endtrans %}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for digital_post in digital_posts %}
                <tr>
                    <td>{{ digital_post.createdAt ? digital_post.createdAt|date(format_datetime) : '' }}</td>
                    <td>{{ digital_post.subject }}</td>
                    <td>{{ digital_post.status ?? '–' }}</td>
                    <td>{{ digital_post.sentAt ? digital_post.sentAt|date(format_datetime) : '–' }}</td>
                    <td>{{ digital_post.document.documentName }}</td>
                    <td>
                        <a href="{{ path('agenda_broadcast_show', {'id': agenda.id, 'digital_post': digital_post.id}) }}">{% trans %}Show{% endtrans %}</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">{% trans %}No boardmember notifications{% endtrans %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}
