{% extends 'layout-with-agenda-submenu.html.twig' %}

{% trans_default_domain 'digital_post' %}

{% block title %}{% trans %}Agenda broadcast{% endtrans %}{% endblock %}

{% block header %}
    <div class="row">
        <div class="col">
            <h1>{% trans %}Agenda broadcast{% endtrans %}</h1>
        </div>
        <div class="col-auto">
            <a class="btn btn-secondary" href="{{ path('agenda_broadcast', {id: agenda.id}) }}">{{ 'Back'|trans({}, 'agenda') }}</a>
        </div>
    </div>
{% endblock %}

{% macro show_document_content_button(agenda, document) %}
    <a target="document-content" href="{{ path('agenda_broadcast_document_view', {id: agenda.id, document: document.id}) }}">
        {{ document.documentName }}
    </a>
{% endmacro %}

{% import 'case/communication/digital_post/_digital_post_envelope.html.twig' as digital_post_envelope %}

{% block content %}
    <div class="col">
        <dl class="row">
            <dt class="col-sm-3">{% trans %}Created at{% endtrans %}</dt>
            <dd class="col-sm-9">{{ digital_post.createdAt ? digital_post.createdAt|date(format_datetime) : '–' }}</dd>

            <dt class="col-sm-3">{% trans %}Subject{% endtrans %}</dt>
            <dd class="col-sm-9">{{ digital_post.subject(true) }}
                {% if digital_post.subject(true) != digital_post.subject %}
                    ({{ 'truncated'|trans }})
                {% endif %}
            </dd>

            {% if digital_post.next %}
                <dt class="col-sm-3">{% trans %}Next{% endtrans %}</dt>
                <dd class="col-sm-9">
                    <a href="{{ path('agenda_broadcast_show', {'id': agenda.id, 'digitalPost': digital_post.next.id}) }}">
                        {{ digital_post.next.subject }}
                    </a>
                </dd>
            {% endif %}

            {% if digital_post.previous %}
                <dt class="col-sm-3">{% trans %}Previous{% endtrans %}</dt>
                <dd class="col-sm-9">
                    <a href="{{ path('agenda_broadcast_show', {'id': agenda.id, 'digitalPost': digital_post.previous.id}) }}">
                        {{ digital_post.previous.subject }}
                    </a>
                </dd>
            {% endif %}

            {# TODO: Do we still need this?
            <dt class="col-sm-3">{% trans %}Status{% endtrans %}</dt>
            <dd class="col-sm-9">{{ digital_post.status ?? '–' }}</dd>

            <dt class="col-sm-3">{% trans %}Sent at{% endtrans %}</dt>
            <dd class="col-sm-9">{{ digital_post.sentAt ? digital_post.sentAt|date(format_datetime) : '–' }}</dd>
            #}

            <dt class="col-sm-3">{% trans %}Recipients{% endtrans %}</dt>

            {% if digital_post.envelopes is empty %}
                <dd class="col-sm-9">
                    <ul class="list-unstyled digital-post-recipients">
                        {% for recipient in digital_post.recipients %}
                            <li>
                                <div class="recipient">
                                    {{ recipient.name }} ({{ recipient.identifierType }}: {{ recipient.identifier }}); {{ recipient.address }}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </dd>
            {% else %}
                <dd class="col-sm-9">
                    <ul class="list-group digital-post-recipients digital-post-envelopes">
                        {% for envelope in digital_post.envelopes %}
                            {% set recipient = envelope.recipient %}
                            <li class="list-group-item">
                                <div class="envelope-status">
                                    {{ digital_post_envelope.digital_post_envelope_status(envelope, {show_message: true}) }}
                                </div>

                                <div class="recipient">
                                    {{ recipient.name }} ({{ recipient.identifierType }}: {{ recipient.identifier }}); {{ recipient.address }}
                                </div>

                                <div class="envelope-message-details">
                                    {# Render last beskedfordeler message if any #}
                                    {% set message = envelope.beskedfordelerMessages|last %}
                                    {% if message %}
                                        {% set data = message_helper.beskeddata(message) %}
                                        {% if data.FejlDetaljer|default() %}
                                            <details>
                                                <summary>{{ 'Beskedfordeler message details'|trans }}</summary>
                                                <pre>{{ data|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
                                            </details>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </dd>
            {% endif %}

            <dt class="col-sm-3">{% trans %}Document{% endtrans %}</dt>
            <dd class="col-sm-9">
                {{ _self.show_document_content_button(agenda, digital_post.document) }}
            </dd>
        </dl>

        {% if not digital_post.attachments is empty %}
            <dt class="col-sm-3">{% trans %}Attachments{% endtrans %}</dt>
            <dd class="col-sm-9">
                <ol class="list-unstyled">
                    {% for attachment in digital_post.attachments %}
                        <li>
                            {{ _self.show_document_content_button(case, attachment.document) }}
                        </li>
                    {% endfor %}
                </ol>
            </dd>
        {% endif %}

        <iframe name="document-content" style="border: none; width: 100%;" src="about:blank"></iframe>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        // Compute height if iframe element to make it take up (most of) the remaining space on the page.
        window.addEventListener('load', function () {
            const iframe = document.querySelector('[name="document-content"]');
            const rect = iframe.getBoundingClientRect()
            iframe.style.height = (window.innerHeight-rect.top-40)+'px'
        })
    </script>
{% endblock %}
