{% extends 'layout-with-case-submenu.html.twig' %}

{% trans_default_domain 'case_event' %}

{% block title %}{% trans %}Case events{% endtrans %}{% endblock %}

{% block header %}
    <div class="row">
        <div class="col">
            <h1>{% trans %}Case events{% endtrans %}</h1>
        </div>
        <div class="col-auto">
            <a class="btn btn-success" href="{{ url('case_event_create', {id: case.id}) }}" role="button">{% trans %}Create case event{% endtrans %}</a>
        </div>
    </div>
{% endblock %}

{% macro case_event_status(case_event) %}
    {% import 'case/communication/digital_post/_digital_post_envelope.html.twig' as digital_post_envelope %}
    {% if case_event.digitalPost %}
        {% if case_event.digitalPost.statuses %}
            {% for status in case_event.digitalPost.statuses %}
                {{ digital_post_envelope.digital_post_envelope_status({status: status}) }}
            {% endfor %}
        {% else %}
            –
        {% endif %}
    {% endif %}
{% endmacro %}

{% block content %}
    <main role="main" class="col-12 mt-3">
        {{ form_start(filter_form) }}
            <div class="row row-cols-lg-auto g-3 align-items-center mb-3">
                <div class="col-12">
                    {{ form_widget(filter_form.category) }}
                </div>
                <div class="col-12">
                    {{ form_widget(filter_form.query) }}
                </div>
                <div class="col-12">
                    <button class="btn btn-primary">{% trans %}Apply filter{% endtrans %}</button>

                    {# Get query parameters without filter#}
                    {% set query_parameters = app.request.query.all|filter((v, k) => k != 'case_event_filter') %}
                    {% set reset_filter_path = path(
                        app.request.attributes.get('_route'),
                        app.request.attributes.get('_route_params')|merge(query_parameters)
                    ) %}
                </div>
                <div class="col-12">
                    <a class="btn btn-secondary" href="{{ reset_filter_path }}" role="button">{% trans %}Reset filter{% endtrans %}</a>
                </div>
            {{ form_rest(filter_form) }}
            </div>
        {{ form_end(filter_form) }}

        <h2 class="fs-4">{% trans %}Event list{% endtrans %}</h2>

        <div class="list-group d-grid gap-3 w-auto">
        {% for case_event in case_events %}
            <a class="list-group-item list-group-item-action rounded-1 py-3 border-top" href="{{ path('case_event_show', {'id': case.id, 'caseEvent': case_event.id}) }}">
                <div class="row">
                    <div class="col-auto">
                        <p class="fw-semibold fs-5 mb-0 d-inline me-3">{{ case_event.subject }}</p>  {{ _self.case_event_status(case_event) }}
                    </div>
                    <div class="col-auto ms-auto">
                        <p class="text-secondary mb-0"><i class="fa-solid fa-tag fa-xs fa-fw opacity-50 me-1"></i>{{ case_event.category }}<i class="fa-solid fa-user fa-xs fa-fw ms-3 me-1 opacity-50"></i>{{ case_event.createdBy.name }}<i class="fa-solid fa-clock fa-xs fa-fw ms-3 me-1 opacity-50"></i>{{ case_event.receivedAt ? case_event.receivedAt|date(format_datetime) : '' }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto">
                        {% if case_event.senders %}
                            <p class="mb-0"><span class="text-secondary">{% trans %}Sender{% endtrans %}:</span> {{ case_event.senders|join(', ') }}</p>
                        {% endif %}
                        {% if case_event.recipients %}
                            <p class="mb-0"><span class="text-secondary">{% trans %}Recipient{% endtrans %}:</span> {{ case_event.recipients|join(', ') }}</p>
                        {% endif %}
                    </div>
                    <div class="col-auto ms-auto">
                        <p class="text-secondary"></p>
                    </div>
                </div>
            </a>
        {% else %}
            <div class="list-group-item">
                <div class="col">{% trans %}No case events{% endtrans %}</div>
            </div>
        {% endfor %}
        </div>

    </main>
{% endblock %}
