{% for item in menu_items %}
    <li class="nav-item">
        <a class="nav-link text-light {{ item.active ? 'bg-secondary' }}" href="{{ item.link|e }}" data-bs-toggle="tooltip" data-placement="right" title="{{ item.tooltip|e }}">
            <i class="fas fa-{{ item.icon|e }} fa-fw"></i>
            <span class="sr-only">{{ item.name|e }} {{ item.active ? '(currently selected)' }}</span>
        </a>
    </li>
{% endfor %}
