{% set menu = [
    {
        "name": "Dashboard",
        "tooltip": "Go to dashboard",
        "link": "/",
        "icon": "tachometer-alt"
    },
    {
        "name": "Case list",
        "tooltip": "Go to case list",
        "link": "/case",
        "icon": "list"
    },
    {
        "name": "Agenda",
        "tooltip": "Go to Agendas",
        "link": "#",
        "icon": "clipboard-list"
    },
    {
        "name": "Templates",
        "tooltip": "Go to Templates",
        "link": "#",
        "icon": "file-alt"
    },
    {
        "name": "FAQ",
        "tooltip": "Go to FAQ",
        "link": "#",
        "icon": "question-circle"
    },
    {
        "name": "Settings",
        "tooltip": "Go to Settings",
        "link": "#",
        "icon": "cog"
    },
] %}

{% for item in menu %}
    <li class="nav-item">
        {# TODO: add active class to highlight current navigation item{{ app.request.get('_route') == '_list' ? 'active' }} #}
        <a class="nav-link text-light" href="{{ item.link|e }}" data-toggle="tooltip" data-placement="right" title="{{ item.tooltip|e }}">
            <i class="fas fa-{{ item.icon|e }} fa-fw"></i>
            <span class="sr-only">{{ item.name|e }} {# TODO: Add text: (current) when navigation item is active to aid screenreaders #} </span>
        </a>
    </li>
{% endfor %}