{% extends 'layout-with-case-submenu.html.twig' %}

{% trans_default_domain 'decision' %}

{% block title %}{% trans %}Decision{% endtrans %}{% endblock %}

{% block header %}
    <div class="row">
        <div class="col">
            <h1>{% trans %}Decision{% endtrans %}</h1>
        </div>
        <div class="col-auto">
            {% if hasNoActiveParty %}
                <button class="btn btn-success" disabled title="{% trans %}Cannot create decision since case has no party to send it to{% endtrans %}">{% trans %}Create decision{% endtrans %}</button>
            {% else %}
                <a class="btn btn-success" href="{{ path('case_decision_create', {'id': case.id}) }}" role="button">{% trans %}Create decision{% endtrans %}</a>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block content %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{% trans %}Created at{% endtrans %}</th>
            <th>{% trans %}Document{% endtrans %}</th>
            <th class="number">{% trans %}Number of attachments{% endtrans %}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for decision in decisions %}
            <tr>
                <td>{{ decision.createdAt ? decision.createdAt|date(format_datetime) : '' }}</td>
                <td>{{ decision.document.documentName }}</td>
                <td class="number">{{ decision.attachments|length }}</td>
                <td>
                    <a href="{{ path('case_decision_show', {'id': case.id, 'decision_id': decision.id}) }}">{% trans %}Show{% endtrans %}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{% trans %}No decisions{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
