{% extends '@!EasyAdmin/crud/detail.html.twig' %}

{% trans_default_domain 'mail_template' %}

{% block main %}
    {{ parent() }}

    <div class="mail-template--preview">
        <form method="get">
            <a class="btn btn-secondary" href="{{ path('admin_mail_template_template_file', {id: entity.primaryKeyValue}) }}">{{ 'Show template file'|trans }}</a>
            <a class="btn btn-primary" href="{{ path('admin_mail_template_preview', {id: entity.primaryKeyValue}) }}">{{ 'Preview template'|trans }}</a>

            {% if preview_entities %}
                <button class="btn btn-primary" type="submit" formaction="{{ path('admin_mail_template_data', {id: entity.primaryKeyValue}) }}">{{ 'Preview template data'|trans }}</button>
                <button class="btn btn-primary" type="submit" name="with_data" value="true" formaction="{{ path('admin_mail_template_preview', {id: entity.primaryKeyValue}) }}">{{ 'Preview template with data'|trans }}</button>

                <div class="form-group">
                    <label for="previewEntity">{{ 'Preview entity'|trans }}</label>
                    <select id="previewEntity" class="form-control" name="entity[id]">
                        {% for preview_entity in preview_entities %}
                            <option value="{{ preview_entity.id }}">
                                {{ preview_entity }}
                            </option>
                        {% endfor %}
                    </select>
                    <small id="previewEntityHelp" class="form-text text-muted">{{ 'Pick an entity to use for previewing data and template with data.'|trans }}</small>
                </div>
            {% else %}
                <span class="alert alert-warning">
                    {{ 'No entities for this template exists'|trans }}
                </span>
            {% endif %}
        </form>
    </div>
{% endblock %}
