{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'nsek/src/Controller/DefaultController.php'|file_link(0) }}">src/Controller/DefaultController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'nsek/templates/default/index.html.twig'|file_link(0) }}">templates/default/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}

{% block _translation %}

    {% trans_default_domain 'admin' %}
    {# Help the translation extractor #}

    {{ 'dashboard.title'|trans }}

    {# Entities and menu items #}
    {{ 'Complaint category'|trans }}
    {{ 'Complaint categories'|trans }}
    {{ 'Municipality'|trans }}
    {{ 'Municipalities'|trans }}
    {{ 'Board'|trans }}
    {{ 'Boards'|trans }}
    {{ 'Boardmember'|trans }}
    {{ 'Boardmembers'|trans }}
    {{ 'Part Index'|trans }}
    {{ 'Party'|trans }}
    {{ 'Parties'|trans }}
    {{ 'User Settings'|trans }}
    {{ 'Settings'|trans }}
    {{ 'Deadlines and notification'|trans }}
    {{ 'User'|trans }}

    {# Actions #}
    {{ 'Add complaint category'|trans }}
    {{ 'Add municipality'|trans }}
    {{ 'Add board'|trans }}
    {{ 'Add boardmember'|trans }}
    {{ 'Add party'|trans }}
    {{ 'Edit deadlines and notification'|trans }}
    {{ 'Edit user information'|trans }}

    {# Properties #}
    {{ 'Name'|trans }}
    {{ 'Fee'|trans }}
    {{ 'AZ-ident'|trans }}
    {{ 'First name'|trans }}
    {{ 'Last name'|trans }}
    {{ 'Address'|trans }}
    {{ 'Phone number'|trans }}
    {{ 'Name and address protected'|trans }}
    {{ 'Journal number'|trans }}
    {{ 'Email'|trans }}
    {{ 'Favorite municipality'|trans }}
    {{ 'Deadline'|trans }}

{% endblock %}


