{% trans_default_domain 'case' %}

{{ form_start(form) }}
    {% for name, child in form|filter((_, name) => name != 'attachments') %}
        {{ form_row(child) }}
        {% if name is same as 'recipients' %}
            {{ form_errors(form) }}
        {% endif %}
    {% endfor %}

    <div class="attachments mb-3">
        <div class="digital-post-attachments-info">
            <div class="digital-post-attachments-info-item" data-digital-post-allowed="{{ true }}" hidden>
                <div class="alert alert-success">
                    <span class="digital-post-message">{{ 'All recipients can receive digital post'|trans }}</span>
                </div>
            </div>
            <div class="digital-post-attachments-info-item" data-digital-post-allowed="{{ false }}" hidden>
                <div class="alert alert-warning">
                    <span class="digital-post-message">{{ 'Some recipients cannot receive digital post'|trans }}</span>
                </div>
            </div>
        </div>

        {{ form_label(form.attachments) }}
        {# store the prototype on the data-prototype attribute #}
        <ul id="attachment-fields-list"
            data-prototype="{{ form_widget(form.attachments.vars.prototype)|e }}"
            data-widget-tags="{{ '<li></li>'|e }}"
            data-widget-counter="{{ form.attachments|length }}">
            {% for attachment_field in form.attachments %}
                <li>
                    {{ form_errors(attachment_field) }}
                    {{ form_widget(attachment_field) }}
                </li>
            {% endfor %}
        </ul>

        <button type="button"
            class="btn btn-secondary add-another-collection-widget"
            data-list-selector="#attachment-fields-list">{% trans %}Add another attachment{% endtrans %}</button>

        {# Something weird is going one when we have no attachments #}
        {% if 0 == form.attachments|length %}
            {% set ignore = form_row(form.attachments) %}
            {# twigcs use-var ignore #}
        {% endif %}
    </div>
    {{ form_rest(form) }}

    <button class="btn btn-primary float-end">{{ button_label|default('Save hearing post'|trans) }}</button>
{{ form_end(form) }}
