{% extends 'layout-with-case-submenu.html.twig' %}

{% trans_default_domain 'case' %}

{% block title %}{{ translated_title|e }}{% endblock %}

{% block header %}
    <div class="row">
        <div class="col">
            <h1>{{ translated_title|e }}</h1>
        </div>
        <div class="col-auto">
            <a class="btn btn-secondary" href="{{ path('case_hearing_index', {id: case.id}) }}">{% trans %}Back{% endtrans %}</a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <main role="main" class="col-12 mt-3">
        {% include 'case/hearing/_form.html.twig' with {button_label: 'Create'|trans} %}
    </main>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('hearing_edit_post') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('hearing_edit_post') }}
{% endblock %}
