{% extends 'base.html.twig' %}

{% block title %}CaseEntity index{% endblock %}

{% block body %}
    <h1>CaseEntity index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CaseType</th>
                <th>CreatedAt</th>
                <th>CaseNumber</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for case_entity in case_entities %}
            <tr>
                <td>{{ case_entity.id }}</td>
                <td>{{ case_entity.caseType }}</td>
                <td>{{ case_entity.createdAt ? case_entity.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ case_entity.caseNumber }}</td>
                <td>
                    <a href="{{ path('case_show', {'id': case_entity.id}) }}">show</a>
                    <a href="{{ path('case_edit', {'id': case_entity.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('case_new') }}">Create new</a>
{% endblock %}
