{% extends 'layout-with-submenu.html.twig' %}

{% block title %}{% trans %}Edit Basic information{% endtrans %}{% endblock %}

{% block header %}
    <div class="row">
        <div class="col">
            <h1>{% trans %}Basic information{% endtrans %}</h1>
        </div>
        <div class="col-auto">
            {# TODO: Need functionality on save changes button #}
            <a name="" id="" class="btn btn-success" href="{{ url('case_information', {id: case.id}) }}" role="button">{% trans %}Cancel edit{% endtrans %}</a>
        </div>
    </div>

    {{ form_start(case_form) }}
        <form class="form" >
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label >{% trans %}Complainant{% endtrans %}</label>
                    {{ form_widget(case_form.complainant, {'attr': {'type': 'text','class': 'form-control', 'required': true}}) }}
                </div>
                <div class="col-md-6 mb-3">
                    <label >{% trans %}Complainant address{% endtrans %}</label>
                    {{ form_widget(case_form.complainantAddress, {'attr': {'type': 'text','class': 'form-control', 'required': true}}) }}
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label >{% trans %}Complainant phone number{% endtrans %}</label>
                    {{ form_widget(case_form.complainantPhone, {'attr': {'type': 'text','class': 'form-control', 'required': true}}) }}
                </div>
                <div class="col-md-4 mb-3">
                    <label >{% trans %}Complainant postal code{% endtrans %}</label>
                    {{ form_widget(case_form.complainantPostalCode, {'attr': {'type': 'text','class': 'form-control', 'required': true}}) }}

                </div>
                <div class="col-md-4 mb-3">
                    <label >{% trans %}Complainant category{% endtrans %}</label>
                    {{ form_widget(case_form.complaintCategory, {'attr': {'class': 'form-control', 'required': true}}) }}
                </div>
            </div>
            {{ form_widget(case_form.save, {'attr': {'class': 'btn btn-primary', 'type': 'submit'}}) }}
            {{ form_rest(case_form) }}
        </form>
    {{ form_end(case_form) }}
{% endblock %}

