{% extends 'layout-with-case-submenu.html.twig' %}

{% trans_default_domain 'case' %}

{% block title %}{% trans %}Basic information{% endtrans %}{% endblock %}


{% block header %}
    <div class="row">
        <div class="col">
            <h1>{% trans %}Basic information{% endtrans %}</h1>
        </div>
        {% if not is_granted('ROLE_BOARD_MEMBER') %}
            <div class="col-auto">
                {# TODO: Needs functionality on buttons #}
                <a name="" id="" class="btn btn-success" href="{{ url('party_add', {id: case.id}) }}" role="button">{% trans %}Create representative{% endtrans %}</a>
                <a name="" id="" class="btn btn-primary" href="{{ url('case_edit', {id: case.id}) }}" role="button">{% trans %}Edit basic information{% endtrans %}</a>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block content %}

    {% include('case/_case_show/' ~ camelCaseToUnderscore(class(case)) ~ '.html.twig') %}

    {% if not is_granted('ROLE_BOARD_MEMBER') %}
        <footer class="col-12 mt-3">
            <div class="row">
                <div class="col-auto ml-auto">
                    {# TODO: Needs functionality on buttons #}
                    <a name="" id="" class="btn btn-success" href="{{ url('party_add', {id: case.id}) }}" role="button">{% trans %}Create representative{% endtrans %}</a>
                    <a name="" id="" class="btn btn-primary" href="{{ url('case_edit', {id: case.id}) }}" role="button">{% trans %}Edit basic information{% endtrans %}</a>
                </div>
            </div>
        </footer>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('case_show') }}
    {{ encore_entry_script_tags('ajax-forms') }}
{% endblock %}
