{% extends 'layout-with-case-submenu.html.twig' %}

{% trans_default_domain 'case' %}

{% block title %}{% trans %}Status info{% endtrans %}{% endblock %}

{% block header %}
    <div class="row">
        <div class="col">
            <h1>{% trans %}Status info{% endtrans %}</h1>
        </div>
        <div class="col">
            {{ form(case_status_form) }}
        </div>
    </div>
{% endblock %}

{% block content %}

    <main role="main" class="col-12 mt-3">
        <section>
            <h2>{% trans %}Processinformation{% endtrans %}</h2>
            <p>{% trans %}In the section Processinformation you can see the current status{% endtrans %}</p>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead class="thead-inverse">
                    <tr>
                        <th>{% trans %}Current casestatus{% endtrans %}</th>
                        <th>{{ case.currentPlace }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{% trans %}Initiative assigne{% endtrans %}</td>
                        <td>{% trans %}No entry yet{% endtrans %}</td>
                    </tr>
                    <tr>
                        <td>{% trans %}Last parts post{% endtrans %}</td>
                        <td>{% trans %}No entry yet{% endtrans %}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <section class="mt-3">
            <h2>{% trans %}Deadlines{% endtrans %}</h2>
            <p>{% trans %}In the section Deadlines you can see the currently active deadlines{% endtrans %}</p>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead class="thead-inverse">
                    <tr>
                        <th>{% trans %}Process{% endtrans %}</th>
                        <th>{% trans %}Deadline{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Parthøringstidsfrist</td>
                        <td>01.07.2020 - 14 dage tilbage. <a name="" id="" class="btn btn-primary float-right" href="#reschedule-deadline" role="button" data-toggle="modal" data-target="#rescheduleDeadline"><i class="fas fa-calendar-alt mr-2"></i>{% trans %}Reschedule{% endtrans %}</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <section class="mt-3">
            <h2>{% trans %}Agenda status{% endtrans %}</h2>

            {{ form_start(case_agenda_status_form) }}
            <div class="row">
                <div class="col-auto">
                    {{ form_widget(case_agenda_status_form.isReadyForAgenda) }}
                </div>
                <div class="col-auto">
                    {{ form_widget(case_agenda_status_form.shouldBeInspected) }}
                </div>
                <div class="col-auto">
                    <button class="btn btn-primary">{{ button_label|default('Submit'|trans([], 'case', 'da')) }}</button>
                </div>
            </div>
            {{ form_end(case_agenda_status_form) }}
{#            {% if hasActiveAgenda == false %}#}
{#                {% if hasOpenAgenda == true %}#}
{#                    <div class="row">#}
{#                        <div class="col row ml-1">#}
{#                            {{ form_start(agenda_form.agenda, {'attr': {'class': 'form-inline form-row'}}) }}#}
{#                            <div class="form-group col-4 mr-5">#}
{#                                {{ form_widget(agenda_form.agenda) }}#}
{#                            </div>#}
{#                            <div class="col-auto">#}
{#                                {{ form_widget(agenda_form.submit) }}#}
{#                            </div>#}
{#                            {{ form_end(agenda_form) }}#}
{#                        </div>#}
{#                    </div>#}
{#                {% else %}#}
{#                    {% trans %}No current active agenda available{% endtrans %}#}
{#                {% endif %}#}
{#            {% endif %}#}

                <h3 class="h5 mt-3">{% trans %}Active agenda{% endtrans %}</h3>
                {% if active_agendas|length > 0 %}
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>{% trans %}Board{% endtrans %}</th>
                                <th>{% trans %}Date{% endtrans %}</th>
                                <th>{% trans %}Start time{% endtrans %}</th>
                                <th>{% trans %}End time{% endtrans %}</th>
                                <th>{% trans %}Status{% endtrans %}</th>
                                <th class="text-right">{% trans %}Edit{% endtrans %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for active_agenda in active_agendas %}
                                <tr>
                                    <td>
                                        {{ active_agenda.agenda.board.name|e }}
                                        {% if active_agenda.isInspection %}
                                            <span class="badge badge-pill badge-info"><span class="text-dark">B</span></span>
                                        {% endif %}
                                    </td>
                                    <td>{{ active_agenda.agenda.date|date('j M Y') }}</td>
                                    <td>{{ active_agenda.agenda.start|date('H:i') }}</td>
                                    <td>{{ active_agenda.agenda.end|date('H:i') }}</td>
                                    <td>{{ active_agenda.agenda.status|trans({}, 'agenda_status') }}</td>
                                    <td class="text-right">
                                        <a href="{{ url('agenda_show', {id: active_agenda.agenda.id}) }}" role="button" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="auto" title="{% trans %}Show agenda{% endtrans %}"><i class="fas fa-file-alt"></i><span class="sr-only">{% trans %}Show agenda{% endtrans %} </span></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    {% trans %}Case is not assigned any non-finished agenda{% endtrans %}
                {% endif %}

            {% if finished_agendas|length > 0 %}
                <h3 class="h5 mt-3">{% trans %}Finished agendas{% endtrans %}</h3>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>{% trans %}Board{% endtrans %}</th>
                            <th>{% trans %}Date{% endtrans %}</th>
                            <th>{% trans %}Start time{% endtrans %}</th>
                            <th>{% trans %}End time{% endtrans %}</th>
                            <th>{% trans %}Status{% endtrans %}</th>
                            <th class="text-right">{% trans %}Edit{% endtrans %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for finished_agenda in finished_agendas %}
                            <tr>
                                <td>
                                    {{ finished_agenda.agenda.board.name|e }}
                                    {% if finished_agenda.isInspection %}
                                        <span class="badge badge-pill badge-info"><span class="text-dark">B</span></span>
                                    {% endif %}
                                </td>
                                <td>{{ finished_agenda.agenda.date|date('j M Y') }}</td>
                                <td>{{ finished_agenda.agenda.start|date('H:i') }}</td>
                                <td>{{ finished_agenda.agenda.end|date('H:i') }}</td>
                                <td>{{ finished_agenda.agenda.status|trans({}, 'agenda_status') }}</td>
                                <td class="text-right">
                                    <a href="{{ url('agenda_show', {id: finished_agenda.agenda.id}) }}" role="button" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="auto" title="{% trans %}Show agenda{% endtrans %}"><i class="fas fa-file-alt"></i><span class="sr-only">{% trans %}Show agenda{% endtrans %} </span></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </section>
    </main>
    <footer class="col-12 mt-3">
        <div class="row">
        </div>
    </footer>

    {# Reschedule modal #}
    <div class="modal fade" id="rescheduleDeadline" tabindex="-1" role="dialog" aria-labelledby="rescheduleDeadlineModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="rescheduleDeadlineModalLabel">{% trans %}Reschedule deadline{% endtrans %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="rescheduleDeadlineNewDate">{% trans %}Enter a new date{% endtrans %}</label>
                        <input type="date" class="form-control" name="rescheduleDeadlineNewDate" id="rescheduleDeadlineNewDate" aria-describedby="rescheduleDeadlineNewDateHelp" placeholder="" required>
                        <small id="rescheduleDeadlineNewDateHelp" class="form-text text-muted">{% trans %}New date for the deadline{% endtrans %}</small>
                    </div>
                    <div class="form-group">
                        <label for="rescheduleDeadlineNewDateReason">{% trans %}Describe why the date has changed{% endtrans %}</label>
                        <textarea class="form-control" name="rescheduleDeadlineNewDateReason" id="rescheduleDeadlineNewDateReason" aria-describedby="rescheduleDeadlineNewDateReasonHelp" rows="3" required></textarea>
                        <small id="rescheduleDeadlineNewDateReasonHelp" class="form-text text-muted">{% trans %}This information is needed for journaling purpose{% endtrans %}</small>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                    <button type="button" class="btn btn-primary">{% trans %}Save changes{% endtrans %}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}