{% trans_default_domain 'navbar' %}

<form class="tvist1-search form-inline px-3 px-lg-0 my-2 my-lg-0 ml-lg-1 col" action="{{ path('search') }}">
    <input class="form-control w-100 rounded form-control-sm ml-lg-2 mr-lg-1" type="search" placeholder="{{ 'Search'|trans({}, 'search') }}" name="search" value="{{ app.request.get('search') }}">
</form>
<ul class="navbar-nav ml-auto px-3 px-lg-0 col-auto">
    {% if is_granted('ROLE_CASEWORKER') or is_granted('ROLE_ADMINISTRATION') %}
        <li class="nav-item dropdown">
            {{ render(controller('App\\Controller\\NavbarController::renderShortcuts')) }}
        </li>
        <li class="nav-item">
            <a class="btn btn-sm btn-success" href="{{ path('case_new') }}">{{ 'New case'|trans({}, 'navbar') }}</a>
        </li>
        <li class="nav-item">
            {{ render(controller('App\\Controller\\NavbarController::renderReminders')) }}
        </li>
    {% endif %}
    <li class="nav-item dropdown">
        {# TODO: Show name and avatar for active user and link to Settings/User  #}
        <a class="btn btn-sm btn-dark d-block dropdown-toggle mb-2 mb-lg-0" href="#" id="user-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-circle mr-2"></i>{{ app.user.name }}</a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="user-menu">
            {% if is_granted('ROLE_CASEWORKER') or is_granted('ROLE_ADMINISTRATION') %}
                <a class="dropdown-item" href="{{ path('user_settings') }}">{% trans %}User settings{% endtrans %}</a>
            {% endif %}
            <a class="dropdown-item" href="{{ path('app_logout') }}">{% trans %}Log out{% endtrans %}</a>
        </div>
    </li>
</ul>

