{% trans_default_domain 'navbar' %}

<form class="tvist1-search form-inline px-3 px-lg-0 my-2 my-lg-0 ms-lg-1 me-3 col" action="{{ path('search') }}">
    <input class="form-control w-100 rounded form-control-sm ms-lg-2 me-lg-1 border-0" type="search" placeholder="{{ 'Search'|trans({}, 'search') }}" name="search" value="{{ app.request.get('search') }}">
</form>
<ul class="navbar-nav ms-auto px-3 px-lg-0 col-auto">
    {% if is_granted('ROLE_CASEWORKER') or is_granted('ROLE_ADMINISTRATION') %}
        <li class="nav-item dropdown">
            {{ render(controller('App\\Controller\\NavbarController::renderShortcuts')) }}
        </li>
        <li class="nav-item">
            <div class="dropdown">
                <button class="btn btn-sm btn-success mb-2 mb-lg-0 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ 'Create new'|trans({}, 'navbar') }}
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{{ path('case_new_prepare') }}">{{ 'New case'|trans({}, 'navbar') }}</a></li>
                    <li><a class="dropdown-item" href="{{ path('agenda_create') }}">{{ 'New agenda'|trans({}, 'navbar') }}</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            {{ render(controller('App\\Controller\\NavbarController::renderReminders')) }}
        </li>
    {% endif %}
    <li class="nav-item dropdown">
        {# TODO: Show name and avatar for active user and link to Settings/User  #}
        <a class="btn btn-sm btn-dark d-block dropdown-toggle mb-2 mb-lg-0" href="#" id="user-menu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-circle me-2"></i>{{ app.user.name }}</a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="user-menu">
            {% if is_granted('ROLE_CASEWORKER') or is_granted('ROLE_ADMINISTRATION') %}
                <a class="dropdown-item" href="{{ path('user_settings') }}">{% trans %}User settings{% endtrans %}</a>
                <a class="dropdown-item" href="{{ path('app_logout') }}">{% trans %}Log out{% endtrans %}</a>
            {% endif %}
        </div>
    </li>
</ul>

