{% extends 'layout-with-case-submenu.html.twig' %}

{% trans_default_domain 'case' %}

{% block title %}{% trans %}Briefing{% endtrans %}{% endblock %}

{% block header %}
    <div class="row">
        <div class="col">
            <h1>{% trans %}Briefing{% endtrans %}</h1>
        </div>
        <div class="col-auto">
            <a class="btn btn-secondary" href="{{ path('case_hearing_post_show', {case: case.id, hearingPost: briefing.hearingPostRequest.id}) }}">{% trans %}Back{% endtrans %}</a>
        </div>
    </div>
{% endblock %}

{% macro show_document_content_button(case, document) %}
    <a target="document-content" href="{{ path('document_view', {id: case.id, document_id: document.id}) }}">
        {{ document.documentName }}
    </a>
{% endmacro %}

{% block content %}
    <div class="col">
        <dl class="row">
            <div class="h3">
                {% trans %}Recipients{% endtrans %}
            </div>
            {% for briefing_recipient in briefing.hearingBriefingRecipients %}
                <dt class="col-sm-3">
                {{ briefing_recipient.recipient.name }}
                </dt>
                <dd class="col-sm-9">
                {{ _self.show_document_content_button(case, briefing_recipient.document) }}
                </dd>
            {% endfor %}
            <dt class="col-sm-3">
                {% trans %}Template{% endtrans %}
            </dt>
            <dd class="col-sm-9">
                {{ briefing.template.name }}
            </dd>
            {% if briefing.customData is defined %}
                {% set custom_fields = getCustomFields(briefing.template) %}
                {% for key, value in briefing.customData %}
                    <dt class="col-sm-3">
                        {{ custom_fields[key]['label']|default(key) }}
                    </dt>
                    <dd class="col-sm-9">
                        {{ value }}
                    </dd>
                {% endfor %}
            {% endif %}
            <dt class="col-sm-3">
                {% trans %}Attachments{% endtrans %}
            </dt>
            <dd class="col-sm-9">
                <ol class="list-unstyled">
                    {% for attachment in briefing.attachments %}
                        <li>
                            {{ _self.show_document_content_button(case, attachment) }}
                        </li>
                    {% endfor %}
                </ol>
            </dd>
        </dl>
        <iframe name="document-content" style="border: none; width: 100%;" src="about:blank"></iframe>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        // Compute height if iframe element to make it take up (most of) the remaining space on the page.
        window.addEventListener('load', function () {
            const iframe = document.querySelector('[name="document-content"]');
            const rect = iframe.getBoundingClientRect()
            iframe.style.height = (window.innerHeight-rect.top-40)+'px'
        })
    </script>
{% endblock %}
