{% extends 'layout-with-agenda-submenu.html.twig' %}

{% trans_default_domain 'agenda' %}

{% block title %}{% trans %}Add Board Member{% endtrans %}{% endblock %}

{% block header %}
    <div class="row">
        <div class="col">
            <h1>{% trans %}Add board members{% endtrans %}</h1>
        </div>
        <div class="col-auto">
            <a class="btn btn-secondary" href="{{ url('agenda_show', {id: agenda.id}) }}" role="button">{% trans %}Cancel{% endtrans %}</a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <main role="main" class="col-12 mt-3">
        {{ form_start(agenda_add_board_member_form) }}
        <div class="mb-3">
            <label class="form-label">{% trans %}Board members{% endtrans %}</label>
            {{ form_widget(agenda_add_board_member_form.boardMemberToAdd, {'attr': {'type': 'text', 'class': 'form-control', 'required': true}}) }}
        </div>
        <button class="btn btn-success float-end">{{ button_label|default('Add board members'|trans([], 'agenda', 'da')) }}</button>
        {{ form_end(agenda_add_board_member_form) }}
    </main>
{% endblock %}
