{% extends 'layout-with-agenda-submenu.html.twig' %}

{% trans_default_domain 'agenda' %}

{% block title %}{% trans %}Agenda{% endtrans %}{% endblock %}

{% block header %}
    <div class="row">
        <div class="col">
            <h1>{% trans %}Agenda{% endtrans %}</h1>
        </div>
        <div class="col-auto">
            {% if agenda.isFinished() %}
                <button class="btn btn-danger" disabled data-toggle="tooltip" data-placement="auto" title="{% trans %}Cannot delete finished agenda{% endtrans %}">{% trans %}Delete agenda{% endtrans %}</button>
            {% elseif agenda.agendaItems|length > 0 %}
                <button class="btn btn-danger" disabled data-toggle="tooltip" data-placement="auto" title="{% trans %}Cannot delete agenda containing agenda items{% endtrans %}">{% trans %}Delete agenda{% endtrans %}</button>
            {% else %}
                <form class="btn" method="post" action="{{ path('agenda_delete', {'id': agenda.id}) }}" onsubmit="return confirm('{% trans %}Are you sure you want to delete this agenda?{% endtrans %}');">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ agenda.id) }}">
                    <button class="btn btn-danger" data-toggle="tooltip" data-placement="auto" title="{% trans %}Delete agenda{% endtrans %}">{% trans %}Delete agenda{% endtrans %}</button>
                </form>
            {% endif %}
            {% if agenda.isReady() %}
                <a class="btn btn-success {% if agenda.isPublished == true %} disabled {% endif %}" href="{{ url('agenda_publish', {id: agenda.id}) }}" role="button">{% trans %}Publish to boardmembers{% endtrans %}</a>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block content %}
    <main role="main" class="col-12 mt-3">
    {{ form_start(agenda_form, {'action': path('agenda_edit', {'id': agenda.id})}) }}
    <div class="form-row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="">{% trans %}Board{% endtrans %}</label>
                {{ form_widget(agenda_form.board, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="">{% trans %}Status{% endtrans %}</label>
                {{ form_widget(agenda_form.status, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <div>
        <label for="">{% trans %}Remarks{% endtrans %}</label>
        {{ form_widget(agenda_form.remarks, {'attr': {'class': 'form-control', 'rows': 3}}) }}
    </div>

    <div class="form-row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="">{% trans %}Date{% endtrans %}</label>
                {{ form_widget(agenda_form.date) }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="">{% trans %}From{% endtrans %}</label>
                {{ form_widget(agenda_form.start, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="">{% trans %}To{% endtrans %}</label>
                {{ form_widget(agenda_form.end, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <div class="form-row">
        <button class="btn btn-primary float-right">{{ button_label|default('Save changes'|trans([], 'agenda', 'da')) }}</button>
    </div>
    {{ form_end(agenda_form) }}


    <div class="row mt-md-5">
        <section aria-labelledby="section_agenda_items" class="col-md-7 mt-5 mt-md-0">
            <div class="row">
                <div class="col">
                    <h5 id="section_agenda_items">{% trans %}Agenda items{% endtrans %}</h5>
                </div>
                <div class="col-auto">
                    <a class="btn btn-success btn-sm {% if agenda.isFinished() %} disabled {% endif %}" href="{{ url('agenda_item_create', {id: agenda.id}) }}" role="button">{% trans %}Add agenda item{% endtrans %}</a>
                </div>
                <hr style="width:95%">
            </div>
            <div class="row">
                <div class="col">
                    <div class="list-group">
                        {% for agenda_item in agenda_items %}
                            <section class="col-md-12 mt-5 mt-md-0">
                                <div class="row">
                                    <div class="col">
                                        <p class="m-0 mt-2">{{ agenda_item.startTime|date('H:i') }}</p>
                                        {% set difference = date(agenda_item.endTime).diff(date(agenda_item.startTime)) %}
                                        {% set diff_hours = difference.h %}
                                        {% set diff_minutes = difference.i %}
                                        {% if diff_minutes == 0 %}
                                            {% if diff_hours == 1 %}
                                                <p class="m-0" style="font-size:15px; opacity: 0.5">{{ diff_hours }} {% trans %}hour{% endtrans %}</p>
                                            {% else %}
                                                <p class="m-0" style="font-size:15px; opacity: 0.5">{{ diff_hours }} {% trans %}hours{% endtrans %}</p>
                                            {% endif %}
                                        {% elseif diff_minutes < 10 %}
                                            {% if diff_hours == 0 %}
                                                <p class="m-0" style="font-size:15px; opacity: 0.5">{{ diff_minutes }} {% trans %}minutes{% endtrans %}</p>
                                            {% else %}
                                                <p class="m-0" style="font-size:15px; opacity: 0.5">{{ diff_hours }}:0{{ diff_minutes }}</p>
                                            {% endif %}
                                        {% else %}
                                            {% if diff_hours == 0 %}
                                                <p class="m-0" style="font-size:15px; opacity: 0.5">{{ diff_minutes }} {% trans %}minutes{% endtrans %}</p>
                                            {% else %}
                                                <p class="m-0" style="font-size:15px; opacity: 0.5">{{ diff_hours }}:{{ diff_minutes }}</p>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="col-md-7 text-truncate">
                                        <p class="m-0 mt-2">
                                            {% if agenda_item.caseEntity is defined %}
                                                {{ agenda_item.caseEntity.caseNumber|e }}
                                                {% if agenda_item.inspection is defined and agenda_item.inspection == true %}
                                                    <span class="badge badge-pill badge-info text-dark">B</span>
                                                {% endif %}
                                            {% else %}
                                                {{ agenda_item.title|e }}
                                            {% endif %}
                                        </p>
                                        <p class="m-0" style="font-size:15px; opacity: 0.5">{{ agenda_item.meetingPoint|e }}</p>
                                    </div>
                                    <div class="col-auto">
                                        <section class="col-md-12 mt-5 mt-md-0">
                                            <div class="row mt-2">
                                                <div>
                                                    <a href="{{ url('agenda_item_edit', {id: agenda.id, agenda_item_id: agenda_item.id}) }}" role="button" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="auto" title="{% trans %}Show agenda item{% endtrans %}"><i class="fas fa-eye"></i><span class="sr-only">{% trans %}Show agenda item{% endtrans %} </span></a>
                                                </div>
                                                {% if not agenda.isFinished() %}
                                                <div class="ml-2">
                                                    <form method="post" action="{{ path('agenda_item_delete', {'id': agenda.id, 'agenda_item_id': agenda_item.id}) }}" onsubmit="return confirm('{% trans %}Are you sure you want to delete this agenda item?{% endtrans %}');">
                                                        <input type="hidden" name="_method" value="DELETE">
                                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ agenda_item.id) }}">
                                                        <button class="btn btn-danger btn-sm" style="float: right;" data-toggle="tooltip" data-placement="auto" title="{% trans %}Delete agenda item{% endtrans %}"><i class="fas fa-trash-alt"></i></button>
                                                    </form>
                                                </div>
                                                {% endif %}
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </section>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>

        <section aria-labelledby="section_board_members" class="col-md-5 mt-5 mt-md-0">
            <div class="row">
                <div class="col">
                    <h5 id="section_board_members">{% trans %}Board members{% endtrans %}</h5>
                </div>
                <div class="col-auto">
                    <a class="btn btn-success btn-sm {% if agenda.isFinished() %} disabled {% endif %}" href="{{ url('agenda_add_board_member', {id: agenda.id}) }}" role="button">{% trans %}Add board member{% endtrans %}</a>
                </div>
                <hr style="width:95%">
            </div>
            <div class="row">
                <div class="col">
                    <div class="list-group">
                        {% for board_member in board_member_triple %}
                            <section class="col-md-12 mt-5 mt-md-0">
                                <div class="row">
                                    <div class="col">
                                        <p class="m-0 mt-2">{{ board_member.name|e }}</p>
                                        <p class="m-0" style="font-size:15px; opacity: 0.5">{{ board_member.title|e }}</p>
                                    </div>
                                    <div class="col-auto">
                                        <section class="col-md-12 mt-5 mt-md-0">
                                            <div class="row mt-2">
                                                <div class="ml-2">
                                                    {% if not agenda.isFinished() %}
                                                    <form method="post" action="{{ path('agenda_board_member_remove', {'id': agenda.id, 'board_member_id': board_member.id}) }}" onsubmit="return confirm('{% trans %}Are you sure you want to remove this board member?{% endtrans %}');">
                                                        <input type="hidden" name="_method" value="DELETE">
                                                        <input type="hidden" name="_token" value="{{ csrf_token('remove' ~ board_member.id) }}">
                                                        <button class="btn btn-danger btn-sm" style="float: right;" data-toggle="tooltip" data-placement="auto" title="{% trans %}Remove board member{% endtrans %}"><i class="fas fa-trash-alt"></i></button>
                                                    </form>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </section>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
