{% extends 'layout-with-agenda-submenu.html.twig' %}

{% trans_default_domain 'agenda' %}

{% block title %}{% trans %}Agenda{% endtrans %}{% endblock %}

{% block header %}
    <div class="row">
        <div class="col">
            <h1>{% trans %}Agenda{% endtrans %}</h1>
        </div>
        <div class="col-auto">
            {# TODO: Needs functionality on buttons #}
            <a name="" id="" class="btn btn-success" href="#" role="button">{% trans %}Publish to boardmembers{% endtrans %}</a>
{#            <a name="" id="" class="btn btn-primary" href="#" role="button">{% trans %}Save changes{% endtrans %}</a>#}
        </div>
    </div>
{% endblock %}

{% block content %}
    <main role="main" class="col-12 mt-3">
        {{ form_start(agenda_form) }}
        <div class="form-row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="">{% trans %}Sub board{% endtrans %}</label>
                    {{ form_widget(agenda_form.subBoard, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="">{% trans %}Select recipient(s) {% endtrans %}</label>
                    {{ form_widget(agenda_form.status, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>
        <div>
            <label for="">{% trans %}Remarks{% endtrans %}</label>
            {{ form_widget(agenda_form.remarks, {'attr': {'class': 'form-control', 'rows': 3}}) }}
        </div>

        <div class="form-row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="">{% trans %}Date{% endtrans %}</label>
                    {{ form_widget(agenda_form.date) }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="">{% trans %}From{% endtrans %}</label>
                    {{ form_widget(agenda_form.start, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="">{% trans %}To{% endtrans %}</label>
                    {{ form_widget(agenda_form.end, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>
        <div class="form-row">
            <button class="btn btn-primary float-right">{{ button_label|default('Save changes') }}</button>
        </div>
        {{ form_end(agenda_form) }}


        <div class="form-row">

            {% set agendas = [
                {
                    "start": "13.00",
                    "duration": "1 time",
                    "title": "Fremstilling af sag v. nævnsmedlem",
                    "location": "Mødelokale M2.4",
                    "documents": []
                },
                {
                    "start": "13.00",
                    "duration": "1 time",
                    "title": "Besigtigelse",
                    "location": "Hack Kampmanns Plads 2, 8000 Aarhus C",
                    "documents": [
                    {
                        "name": "Mail fra lejer",
                    },
                    {
                        "name": "Bilag 2",
                    },
                    {
                        "name": "Huslegenævnet",
                    },
                    {
                        "name": "Bilag 3",
                    }
                ]
                },
                {
                    "start": "13.00",
                    "duration": "1 time",
                    "title": "Besigtigelse",
                    "location": "Europaplads 21a 2. tv, 8000 Aarhus C",
                    "documents": []
                },
                {
                    "start": "18.30",
                    "duration": "30 min",
                    "title": "Afgørelse",
                    "location": "Mødelokale M2.4",
                    "documents": []
                }
            ] %}
            <div class="col-md-7 mt-5">
                <div class="form-group" style="height:100%; width:100%; overflow: hidden;">
                    <label for="">{% trans %}Agenda items{% endtrans %}</label>
                    <a name="" id="" class="btn btn-success btn-sm" style="float: right;" href="#" role="button">{% trans %}Add agenda item{% endtrans %}</a>
                    <hr style="width:100%">
                    {% for agenda in agendas %}
                        <div style="height:20%; width:100%; overflow: hidden;">
                            <div class="form-group" style="float: left;width:25%;">
                                <p class="m-0 mt-2">{{ agenda.start|e }}</p>
                                <p class="m-0" style="font-size:15px; opacity: 0.5">{{ agenda.duration|e }}</p>
                            </div>
                            <div class="form-group" style="float: left;width:50%;">
                                <p class="m-0 mt-2">{{ agenda.title|e }}</p>
                                <p class="m-0" style="font-size:15px; opacity: 0.5">{{ agenda.location|e }}</p>
                            </div>
                            <div class="form-group" style="float: left;width:25%;">
                                <a name="" id="" class="btn btn-danger btn-sm" style="float: right;" href="#" role="button">{% trans %}Rem{% endtrans %}</a>
                                <a name="" id="" class="btn btn-primary btn-sm" style="float: right;" href="#" role="button">{% trans %}Add{% endtrans %}</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>

            <div class="col-md-4 mt-5 ml-5">
                <div class="form-group">
                    <label for="">{% trans %}Boardmembers{% endtrans %}</label>
                    <a name="" id="" class="btn btn-success btn-sm" href="{{ url('agenda_add_board_member', {id: agenda.id}) }}" style="float: right;" role="button">{% trans %}Add board member{% endtrans %}</a>
                    <hr style="width:100%">
                    {% for boardMember in boardMembers %}
                        <div>
                            <form id="myform" method="post" action="{{ path('agenda_board_member_remove', {'id': agenda.id, 'board_member_id': boardMember.id}) }}" onsubmit="return confirm('{% trans %}Are you sure you want to remove this board member?{% endtrans %}');">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('remove' ~ boardMember.id) }}">
                                <button class="btn btn-danger btn-sm" style="float: right;" data-toggle="tooltip" data-placement="auto" title="{% trans %}Remove board member{% endtrans %}"><i class="fas fa-trash-alt"></i></button>
                            </form>
                            <p class="m-0 mt-2">{{ boardMember.name|e }}</p>
                            {# TODO: Display boardmember title once it has been added to boardmember entity #}
                            <p class="m-0" style="font-size:15px; opacity: 0.5">Fulmægtig i nævn</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>


    <footer class="col-12 mt-3">
        <div class="row">
            <div class="col-auto ml-auto">
                {# TODO: Needs functionality on buttons #}
{#                <a name="" id="" class="btn btn-primary" href="#" role="button">{% trans %}Save changes{% endtrans %}</a>#}
            </div>
        </div>
    </footer>
{% endblock %}