{% extends 'layout-with-case-submenu.html.twig' %}

{% trans_default_domain 'digital_post' %}

{% block title %}{% trans %}Digital post{% endtrans %}{% endblock %}

{% block header %}
    <div class="row">
        <div class="col">
            <h1>{% trans %}Digital post{% endtrans %}</h1>
        </div>
    </div>
{% endblock %}

{% block content %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{% trans %}Created at{% endtrans %}</th>
                <th>{% trans %}Subject{% endtrans %}</th>
                <th>{% trans %}Status{% endtrans %}</th>
                <th>{% trans %}Sent at{% endtrans %}</th>
                <th>{% trans %}Document{% endtrans %}</th>
                <th class="number">{% trans %}Number of attachments{% endtrans %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for digital_post in digital_posts %}
                <tr>
                    <td>{{ digital_post.createdAt ? digital_post.createdAt|date(format_datetime) : '' }}</td>
                    <td>{{ digital_post.subject }}</td>
                    <td>{{ digital_post.status ?? '–' }}</td>
                    <td>{{ digital_post.sentAt ? digital_post.sentAt|date(format_datetime) : '–' }}</td>
                    <td>{{ digital_post.document.documentName }}</td>
                    <td class="number">{{ digital_post.attachments|length }}</td>
                    <td>
                        <a href="{{ path('digital_post_show', {'id': case.id, 'digitalPost': digital_post.id}) }}">{% trans %}Show{% endtrans %}</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">{% trans %}No digital posts{% endtrans %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
