{% extends 'layout-with-case-submenu.html.twig' %}

{% trans_default_domain 'digital_post' %}

{% block title %}{% trans %}Digital post{% endtrans %}{% endblock %}

{% block header %}
    <div class="row">
        <div class="col">
            <h1>{% trans %}Digital post{% endtrans %}</h1>
        </div>
        <div class="col-auto">
            <a class="btn btn-secondary" href="{{ path('digital_post_index', {id: case.id}) }}">{% trans %}Back to digital post{% endtrans %}</a>
        </div>
    </div>
{% endblock %}

{% macro show_document_content_button(case, document) %}
    <a target="document-content" href="{{ path('document_view', {id: case.id, document_id: document.id}) }}">
        {{ document.documentName }}
    </a>
{% endmacro %}

{% block content %}
    <div class="col">
        <dl class="row">
            <dt class="col-sm-3">{% trans %}Created at{% endtrans %}</dt>
            <dd class="col-sm-9">{{ digital_post.createdAt ? digital_post.createdAt|date(format_datetime) : '–' }}</dd>

            <dt class="col-sm-3">{% trans %}Subject{% endtrans %}</dt>
            <dd class="col-sm-9">{{ digital_post.subject(true) }}
                {% if digital_post.subject(true) != digital_post.subject %}
                    ({{ 'truncated'|trans }})
                {% endif %}
            </dd>

            {% if digital_post.next %}
                <dt class="col-sm-3">{% trans %}Next{% endtrans %}</dt>
                <dd class="col-sm-9">
                    <a href="{{ path('digital_post_show', {'id': case.id, 'digitalPost': digital_post.next.id}) }}">
                        {{ digital_post.next.subject }}
                    </a>
                </dd>
            {% endif %}

            {% if digital_post.previous %}
                <dt class="col-sm-3">{% trans %}Previous{% endtrans %}</dt>
                <dd class="col-sm-9">
                    <a href="{{ path('digital_post_show', {'id': case.id, 'digitalPost': digital_post.previous.id}) }}">
                        {{ digital_post.previous.subject }}
                    </a>
                </dd>
            {% endif %}

            <dt class="col-sm-3">{% trans %}Status{% endtrans %}</dt>
            <dd class="col-sm-9">{{ digital_post.status ?? '–' }}</dd>

            <dt class="col-sm-3">{% trans %}Sent at{% endtrans %}</dt>
            <dd class="col-sm-9">{{ digital_post.sentAt ? digital_post.sentAt|date(format_datetime) : '–' }}</dd>

            <dt class="col-sm-3">{% trans %}Recipients{% endtrans %}</dt>
            <dd class="col-sm-9">
                <ul class="list-unstyled">
                    {% for recipient in digital_post.recipients %}
                        <li>{{ recipient.name }} ({{ recipient.identifierType }}: {{ recipient.identifier }}); {{ recipient.address }}</li>
                    {% endfor %}
                </ul>
            </dd>

            <dt class="col-sm-3">{% trans %}Document{% endtrans %}</dt>
            <dd class="col-sm-9">
                {{ _self.show_document_content_button(case, digital_post.document) }}
            </dd>

            {% if digital_post.attachments %}
                <dt class="col-sm-3">{% trans %}Attachments{% endtrans %}</dt>
                <dd class="col-sm-9">
                    <ol class="list-unstyled">
                        {% for attachment in digital_post.attachments %}
                            <li>
                                {{ _self.show_document_content_button(case, attachment.document) }}
                            </li>
                        {% endfor %}
                    </ol>
                </dd>
            {% endif %}
        </dl>

        <iframe name="document-content" style="border: none; width: 100%;" src="about:blank"></iframe>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        // Compute height if iframe element to make it take up (most of) the remaining space on the page.
        window.addEventListener('load', function () {
            const iframe = document.querySelector('[name="document-content"]');
            const rect = iframe.getBoundingClientRect()
            iframe.style.height = (window.innerHeight-rect.top-40)+'px'
        })
    </script>
{% endblock %}
