{% extends 'base.html.twig' %}

{% trans_default_domain 'login' %}

{% block title %}{% trans %}Login{% endtrans %}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>{% trans %}Login{% endtrans %}</h1>

        {% block flash_messages %}
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ 'error' == label ? 'danger' : label }}  alert-dismissible fade show">
                        {# message may be an instance of TranslatableInterface #}
                        {{ message.trans is defined ? message|trans : message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{{ 'Close'|trans([], 'messages') }}"></button>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endblock %}

        {{ form(form) }}
    </div>
{% endblock %}

{% block _translation %}
    {{ 'open_id_connect.login_provider.admin'|trans }}
    {{ 'open_id_connect.login_provider.board-member'|trans }}
{% endblock %}
