{% extends 'layout-with-agenda-submenu.html.twig' %}

{% trans_default_domain 'agenda_item' %}

{% block title %}{% trans %}Create agenda item{% endtrans %}{% endblock %}

{% block header %}
    <div class="row">
        <div class="col">
            <h1>{% trans %}Create agenda item{% endtrans %}</h1>
        </div>
        <div class="col-auto">
            <a name="" id="" class="btn btn-secondary" href="{{ url('agenda_show', {id: agenda.id}) }}" role="button">{% trans %}Cancel{% endtrans %}</a>
        </div>
    </div>
{% endblock %}

{% block content %}

    <main role="main" class="col-12 mt-3">
        {{ form_start(agenda_item_create_form) }}
        {{ form_rest(agenda_item_create_form) }}
        <button class="btn btn-primary float-right">{{ button_label|default('Create agenda item'|trans([], 'agenda', 'da')) }}</button>
        {{ form_end(agenda_item_create_form) }}
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('agenda_item_new') }}
{% endblock %}