{% extends 'layout.html.twig' %}

{% trans_default_domain 'search' %}

{% block title %}{% trans %}Search{% endtrans %}{% endblock %}

{% block header %}
    <div class="row">
        <div class="col">
            <h1>{% trans %}Search{% endtrans %}</h1>
        </div>
    </div>
{% endblock %}

{% block content %}
{#    <div class="js-search-text" data-search="{{ search }}">#}
{#        <h2>{{ 'search.results_for'|trans({'%searchTerm%': search, '%numberOfResults%': pagination.getTotalItemCount}) }}</h2>#}
{#    </div>#}

    <div class="search-result">
        <div class="table-responsive js-process-table-results">
            <table class="table table-striped table-hover table-borderless thead-light">
                <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(pagination, 'Casenumber'|trans({}, 'search'), 'c.caseNumber') }}
                    </th>
                </tr>
                </thead>
                <tbody class="js-search-result-rows">
                {% for case in pagination %}
                    <tr>
                        <td><a href="{{ path('case_show', {'id': case.id}) }}">{{ case.caseNumber }}</a></td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">{{ 'Search yielded no results'|trans({'%searchTerm%': search}, 'search') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}


