{% extends 'layout-with-submenu.html.twig' %}

{% trans_default_domain 'party' %}


{% block title %}{% trans %}Add Party{% endtrans %}{% endblock %}


{% block header %}
    <div class="row">
        <div class="col">
            <h1>{% trans %}Add party to case{% endtrans %}</h1>
        </div>
        <div class="col-auto">
            <a name="" id="" class="btn btn-primary" href="{{ url('party_add_from_index', {id: case.id}) }}" role="button">{% trans %}Add from index{% endtrans %}</a>
            <a name="" id="" class="btn btn-secondary" href="{{ url('case_show', {id: case.id}) }}" role="button">{% trans %}Cancel{% endtrans %}</a>

        </div>
    </div>
{% endblock %}

{% block content %}

    <main role="main" class="col-12 mt-3">
        {{ form_start(add_party_form) }}
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label >{% trans %}Name{% endtrans %}</label>
                {{ form_widget(add_party_form.name, {'attr': {'type': 'text','class': 'form-control', 'required': true}}) }}
            </div>
            <div class="col-md-6 mb-3">
                <label >{% trans %}CPR{% endtrans %}</label>
                {{ form_widget(add_party_form.cpr, {'attr': {'type': 'text','class': 'form-control', 'required': true}}) }}
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label >{% trans %}Address{% endtrans %}</label>
                {{ form_widget(add_party_form.address, {'attr': {'type': 'text','class': 'form-control', 'required': true}}) }}
            </div>
            <div class="col-md-6 mb-3">
                <label >{% trans %}Phone number{% endtrans %}</label>
                {{ form_widget(add_party_form.phoneNumber, {'attr': {'type': 'text','class': 'form-control', 'required': true}}) }}
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label >{% trans %}Journal number{% endtrans %}</label>
                {{ form_widget(add_party_form.journalNumber, {'attr': {'type': 'text','class': 'form-control', 'required': false}}) }}
            </div>
            <div class="col-md-6 mb-3">
                <label >{% trans %}Type{% endtrans %}</label>
                {{ form_widget(add_party_form.type, {'attr': {'type': 'text','class': 'form-control', 'required': true}}) }}
            </div>
        </div>
        <button class="btn btn-success float-right">{{ button_label|default('Add party'|trans([], 'party', 'da')) }}</button>
        {{ form_end(add_party_form) }}
    </main>
{% endblock %}