{% extends 'layout-with-case-submenu.html.twig' %}

{% trans_default_domain 'party' %}


{% block title %}{% trans %}Add Party{% endtrans %}{% endblock %}


{% block header %}
    <div class="row">
        <div class="col">
            <h1>{% trans %}Add party to case{% endtrans %}</h1>
        </div>
        <div class="col-auto">
            <a class="btn btn-primary" href="{{ url('party_add_from_index', {id: case.id}) }}" role="button">{% trans %}Add from index{% endtrans %}</a>
            <a class="btn btn-secondary" href="{{ url('case_show', {id: case.id}) }}" role="button">{% trans %}Cancel{% endtrans %}</a>

        </div>
    </div>
{% endblock %}

{% block content %}

    <main role="main" class="col-12 mt-3">
        {{ form_start(add_party_form) }}
        <div class="form-row">
            <div class="col-md-6 mb-3">
                {{ form_row(add_party_form.name) }}
            </div>
            <div class="col-md-3 mb-3">
                {{ form_row(add_party_form.identifierType) }}
            </div>
            <div class="col-md-3 mb-3">
                {{ form_row(add_party_form.identifier) }}
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12 mb-3">
                {{ form_row(add_party_form.phoneNumber) }}
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12 mb-3">
                {{ form_row(add_party_form.address) }}
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                {{ form_row(add_party_form.journalNumber) }}
            </div>
            <div class="col-md-6 mb-3">
                {{ form_row(add_party_form.type) }}
            </div>
        </div>
        <button class="btn btn-success float-right" type="submit" name="submit">{% trans %}Add party{% endtrans %}</button>
        {{ form_end(add_party_form) }}
    </main>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('dawa-address-lookup') }}
{% endblock %}
