{% extends 'layout-with-case-submenu.html.twig' %}

{% trans_default_domain 'party' %}


{% block title %}{% trans %}Add Party{% endtrans %}{% endblock %}

{% block header %}
    <div class="row">
        <div class="col">
            <h1>{% trans %}Add party to case{% endtrans %}</h1>
        </div>
        <div class="col-auto">
            <a class="btn btn-secondary" href="{{ url('case_show', {id: case.id}) }}" role="button">{% trans %}Cancel{% endtrans %}</a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <main role="main" class="col-12 mt-3">
        {{ form_start(add_party_form) }}
        <div>
            <label >{% trans %}Party to add{% endtrans %}</label>
            {{ form_widget(add_party_form.partyToAdd, {'attr': {'type': 'text', 'class': 'form-control', 'required': true}}) }}
        </div>
        <div>
            <label >{% trans %}Party type{% endtrans %}</label>
            {{ form_widget(add_party_form.type, {'attr': {'type': 'text', 'class': 'form-control', 'required': true}}) }}
        </div>
        <button class="btn btn-success float-right mt-3">{{ button_label|default('Add party'|trans([], 'party', 'da')) }}</button>
        {{ form_end(add_party_form) }}
    </main>
{% endblock %}
