{% extends 'layout-with-case-submenu.html.twig' %}

{% trans_default_domain 'party' %}


{% block title %}{% trans %}Add Party{% endtrans %}{% endblock %}

{% block header %}
    <div class="row">
        <div class="col">
            <h1>{% trans %}Add party to case{% endtrans %}</h1>
        </div>
        <div class="col-auto">
            <a class="btn btn-secondary" href="{{ url('case_show', {id: case.id}) }}" role="button">{% trans %}Cancel{% endtrans %}</a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <main role="main" class="col-12 mt-3">
        {{ form_start(add_party_form) }}
        {{ form_errors(add_party_form) }}
        <div class="row">
            <div class="col-md-12 mb-3">
                {{ form_row(add_party_form.partyToAdd) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                {{ form_row(add_party_form.type) }}
            </div>
            <div class="col-md-6 mb-3">
                {{ form_row(add_party_form.referenceNumber) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-success float-end">{{ button_label|default('Add party'|trans) }}</button>
            </div>
        </div>
        {{ form_end(add_party_form) }}
    </main>
{% endblock %}
