{% extends 'layout-with-case-submenu.html.twig' %}

{% trans_default_domain 'party' %}

{% block title %}{% trans %}Edit Party{% endtrans %}{% endblock %}


{% block header %}
    <div class="row">
        <div class="col">
            <h1>{% trans %}Edit party{% endtrans %}</h1>
        </div>
        <div class="col-auto">
            <a class="btn btn-secondary" href="{{ url('case_show', {id: case.id}) }}" role="button">{% trans %}Cancel{% endtrans %}</a>

        </div>
    </div>
{% endblock %}

{% block content %}
    <main role="main" class="col-12 mt-3">
        {{ form_start(edit_party_form) }}
        {{ form_errors(edit_party_form) }}
        <div class="form-row">
            <div class="col-md-6 mb-3">
                {{ form_row(edit_party_form.identification) }}
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                {{ form_row(edit_party_form.lookupIdentifier) }}
            </div>
            <div class="col-md-6 mb-3">
                <p id="isUnderAddressProtectionParagraph" style="visibility: {{ edit_party_form.isUnderAddressProtection.vars.checked ? 'visible' : 'hidden' }}">
                    <span class="badge badge-pill badge-danger" title="{% trans from 'case' %}Party is under address protection{% endtrans %}">!</span>
                    {% trans from 'case' %}Party is under address protection{% endtrans %}
                </p>
                {{ form_row(edit_party_form.isUnderAddressProtection) }}
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                {{ form_row(edit_party_form.name) }}
            </div>
            <div class="col-md-6 mb-3">
                {{ form_row(edit_party_form.phoneNumber) }}
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12 mb-3">
                {{ form_row(edit_party_form.address) }}
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12 mb-3">
                {{ form_row(edit_party_form.type) }}
            </div>
        </div>
        <button class="btn btn-primary float-right mt-3">{{ button_label|default('Edit party'|trans([], 'party', 'da')) }}</button>
        {{ form_end(edit_party_form) }}
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('party_identification_lookup') }}
    {{ encore_entry_script_tags('identification_type_handler') }}
    {{ encore_entry_script_tags('dawa-address-lookup') }}
{% endblock %}
