{% extends 'layout-with-agenda-item-submenu.html.twig' %}

{% trans_default_domain 'agenda' %}

{% block title %}{% trans %}Agenda item{% endtrans %}{% endblock %}

{% block sidebar %}
    {% include 'sidebar/agenda-case-item-sidebar.html.twig' %}
{% endblock %}

{% block header %}
    <div class="row">
        <div class="col">
            <h1>{% trans %}Agenda item{% endtrans %}</h1>
            {% if is_granted('ROLE_CASEWORKER') or is_granted('ROLE_ADMINISTRATION') %}
                <p class="text-muted"><small>{% trans %}Edit agenda item{% endtrans %}</small></p>
            {% endif %}
        </div>
        <div class="col-auto">
            <a class="btn btn-secondary" href="{{ url('agenda_show', {id: agenda_item.agenda.id}) }}" role="button">{% trans %}Back to agenda{% endtrans %}</a>
            <a class="btn btn-primary" href="{{ url('case_summary', {id: agenda_item.caseEntity.id}) }}" role="button">{% trans %}Show case{% endtrans %}</a>
        </div>
    </div>
{% endblock %}

{% block content %}

    <main role="main" class="col-12 mt-3">
        {{ form_start(agenda_item_edit_form) }}
        {{ form_rest(agenda_item_edit_form) }}
        {% if is_granted('ROLE_CASEWORKER') or is_granted('ROLE_ADMINISTRATION') %}
            <button class="btn btn-primary float-right">{{ button_label|default('Edit agenda item'|trans([], 'agenda', 'da')) }}</button>
        {% endif %}
        {{ form_end(agenda_item_edit_form) }}
    </main>
{% endblock %}
