{% extends 'layout-with-agenda-item-submenu.html.twig' %}

{% trans_default_domain 'agenda' %}

{% block title %}{% trans %}Documents{% endtrans %}{% endblock %}

{% block sidebar %}
    {% include 'sidebar/agenda-manuel-item-sidebar.html.twig' %}
{% endblock %}

{% block header %}
    <div class="row mt-1 mb-3">
        <div class="col">
            <h1>{% trans %}Upload document{% endtrans %}</h1>
            <p class="text-muted"><small>{% trans %}Upload documents{% endtrans %}</small></p>
        </div>
        <div class="col-auto">
            <a class="btn btn-secondary" href="{{ url('agenda_manuel_item_documents', {id: agenda.id, agenda_item_id: agenda_item.id}) }}" role="button">{% trans %}Cancel{% endtrans %}</a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <main role="main" class="col-12">

        {{ form_start(document_form) }}
        {{ form_row(document_form.documentName) }}
        {{ form_row(document_form.type) }}
        {{ form_row(document_form.filename) }}

        <button class="btn btn-success float-right">{{ button_label|default('Upload'|trans([], 'documents')) }}</button>
        {{ form_rest(document_form) }}
    </main>
{% endblock %}
