{% extends 'layout-with-agenda-item-submenu.html.twig' %}

{% trans_default_domain 'agenda_item' %}

{% block title %}{% trans %}Agenda item{% endtrans %}{% endblock %}

{% block sidebar %}
    {% include 'sidebar/agenda-manuel-item-sidebar.html.twig' %}
{% endblock %}

{% block header %}
    <div class="row">
        <div class="col">
            <h1>{% trans %}Agenda item{% endtrans %}</h1>
            <p class="text-muted"><small>{% trans %}Edit agenda item{% endtrans %}</small></p>
        </div>
        <div class="col-auto">
            {#            <a name="" id="" class="btn btn-secondary" href="{{ url('agenda_show', {id: agenda.id}) }}" role="button">{% trans %}Cancel{% endtrans %}</a>#}
        </div>
    </div>
{% endblock %}

{% block content %}

    <main role="main" class="col-12 mt-3">
        {{ form_start(agenda_item_edit_form) }}
        {{ form_rest(agenda_item_edit_form) }}
        <button class="btn btn-primary float-right">{{ button_label|default('Edit agenda item'|trans([], 'agenda', 'da')) }}</button>
        {{ form_end(agenda_item_edit_form) }}
    </main>
{% endblock %}