{% trans_default_domain 'dashboard' %}

{% set button_styles = ['primary', 'secondary', 'info', 'dark'] %}

{% for column in grid_information %}
    <div class="col-md-6 col-lg-3 mb-5 mb-md-2 grid-information">
        <a href="{{ column.url }}">
            <h3 class="grid-header mb-3">
                <div class="label">
                    <i class="fas fa-list me-2"></i>
                    {{ column.label }}
                </div>
                <div class="count">
                    <span class="badge bg-dark text-ligth ms-2">{{ column.count }}</span>
                </div>
            </h3>
        </a>

        {% for row in column.rows %}
            {% set button_style = button_styles[loop.index0 % button_styles|length] %}
            <a class="btn btn-{{ button_style }} btn-lg w-100 mb-3" href="{{ row.url }}">
                <div class="grid-row">
                    <div class="label">{{ row.label }}</div>
                    <div class="count">
                        <span class="badge bg-light text-dark ms-2">{{ row.count }}</span>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endfor %}
