{% trans_default_domain 'reminder' %}

<div class="rounded-1 ">
    <h2 class="h3">{% trans %}Upcoming reminders{% endtrans %}</h2>
    {% if upcoming_reminders|length > 0 %}
        {% for date, reminders in upcoming_reminders %}
            <h3 class="h4">{{ date|date(format_weekday)|trans({}, 'reminder') }}</h3>
            <div class="list-group mb-3">
                {% for reminder in reminders %}
                    <li class="list-group-item list-group-item-action flex-column align-items-start list-group-item-warning">
                        <div class="d-flex w-100 justify-content-between" title="{% trans %}Show case{% endtrans %}">
                            <small>{{ reminder.date|date(format_date) }}</small>
                            <a href="{{ url('case_summary', {id: reminder.caseEntity.id}) }}">
                                {% trans %}Show case{% endtrans %}
                            </a>
                        </div>
                        <div>
                            {% if reminder.content|length > 60 %}
                                {% set sliced_reminder = reminder.content[0:59] ~ '...' %}
                                <div class="col">
                                    <div class="row">
                                        <span class="text-dark">
                                            {{ sliced_reminder }}
                                        </span>
                                    </div>
                                    <div class="row">
                                        <a href="{{ url('reminder_index') }}">
                                            {% trans %}See more{% endtrans %}
                                        </a>
                                    </div>
                                </div>
                            {% else %}
                                <span class="text-dark">
                                {{ reminder.content|e }}
                            </span>
                            {% endif %}
                        </div>
                    </li>
                {% endfor %}
            </div>
        {% endfor %}
    {% else %}
        {% trans %}No reminders within the week.{% endtrans %}
    {% endif %}
    <a href="{{ url('reminder_index') }}">
        {% trans %}See all reminders{% endtrans %}
    </a>
</div>
