{% extends 'layout.html.twig' %}

{% trans_default_domain 'dashboard' %}

{% block title %}{% trans %}Dashboard{% endtrans %}{% endblock %}

{% block header %}
    <h1>{% trans %}Dashboard{% endtrans %}</h1>
    <div class="row mb-3">
        <div class="col-3">
            {{ form(municipality_form) }}
        </div>
    </div>
{% endblock %}

{% block content %}
    <main role="main" class="col-md-10">
        {% if exceeded_reminders|length > 0 %}
            <h2 class="h3"><i class="fas fa-clock me-2"></i>{% trans %}Cases with reached reminders{% endtrans %} ({{ exceeded_reminders|length }})</h2>
            {% include "dashboard/_reached_reminders.html.twig" with exceeded_reminders %}
        {% endif %}
        {% if unassigned_cases|length > 0 %}
            <h2 class="h3"><i class="fas fa-user-plus me-2"></i>{% trans %}Unassigned cases{% endtrans %} ({{ unassigned_cases|length }})</h2>
            {% include "dashboard/_unassigned_cases.html.twig" with unassigned_cases %}
        {% endif %}
        <div class="row mb-5">
            {% include "dashboard/_grid_information.html.twig" with grid_information %}
        </div>
        {# TODO: Resolve when cases are considered inactive and then show this again #}
{#        <h2 class="h3"><i class="fas fa-undo me-2"></i>{% trans %}Cases opened more than 30 days ago{% endtrans %} ({{ inactive_cases|length }})</h2>#}
{#        {% include "dashboard/_inactive_cases.html.twig" with inactive_cases %}#}
    </main>
    <aside role="aside" class="col-md-2">
        {% include "dashboard/_upcoming_reminders.html.twig" with upcoming_reminders %}
    </aside>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('municipality_select') }}
{% endblock %}
